%div.sign_in_with_twitter.lighter
  %div.divider
  %div.container
    %div.icon
    Sign in with Twitter

-# for a darker version, just replace the "lighter" class with "darker", like this:

%div.sign_in_with_twitter.darker
  %div.divider
  %div.container
    %div.icon
    Sign in with Twitter
