%div.sign_in_with_twitter
  %div.divider
  %div.container
    %div.icon
    Sign in with Twitter

-# for a darker version, just add the class "dark", like so:

%div.sign_in_with_twitter.dark
  %div.divider
  %div.container
    %div.icon
    Sign in with Twitter
